*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, #28b485, #7ed56f);
}

.gallery-box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.gallery-box-outer {
  width: 30rem;
  height: 20rem;
  position: relative;
  transition: all 1s ease-out;
  transform: perspective(100rem) rotateX(-8deg) rotateY(0deg);
  transform-style: preserve-3d;
}

.gallery-box-inner {
  width: 100%;
  height: 100%;
  position: absolute;
  background-position: center center;
  background-size: cover;
}

.gallery-box-inner:nth-child(1) {
  transform: rotateY(0deg) translateZ(45rem);
}
.gallery-box-inner:nth-child(2) {
  transform: rotateY(40deg) translateZ(45rem);
}
.gallery-box-inner:nth-child(3) {
  transform: rotateY(80deg) translateZ(45rem);
}
.gallery-box-inner:nth-child(4) {
  transform: rotateY(120deg) translateZ(45rem);
}
.gallery-box-inner:nth-child(5) {
  transform: rotateY(160deg) translateZ(45rem);
}
.gallery-box-inner:nth-child(6) {
  transform: rotateY(200deg) translateZ(45rem);
}
.gallery-box-inner:nth-child(7) {
  transform: rotateY(240deg) translateZ(45rem);
}
.gallery-box-inner:nth-child(8) {
  transform: rotateY(280deg) translateZ(45rem);
}
.gallery-box-inner:nth-child(9) {
  transform: rotateY(320deg) translateZ(45rem);
}
