* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Variable declaration

$bgColor: pink;
$bannerColor: hotpink;
$navBgColor: #30a7c3;
$font-color: white;
$buttonColor: rgb(227, 160, 160);
$font-family: "segoe UI", "Tahoma", Geneva, Verdana, sans-serif;
$font-size: 1.2rem;
$myBorder: 2px solid brown;

body {
  background-color: $bgColor;
  font-family: $font-family;
  font-size: $font-size;
  color: $font-color;
}

// Header

header {
  background-color: $navBgColor;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  img {
    width: 80px;
    border: $myBorder;
    border-radius: 10px;
  }
  ul {
    list-style-type: none;
    li {
      display: inline-block;
      padding: 0.5rem;
    }
  }
  a {
    color: $font-color;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

// Banner

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $bannerColor;
  padding: 1rem;
  line-height: 2rem;
  aside {
    button {
      padding: 0.5rem;
      border: none;
      border-radius: 5px;
      background-color: $buttonColor;
      margin-top: 1rem;
      margin-right: 0.5rem;
      &:hover {
        background-color: $bgColor;
        cursor: pointer;
      }
    }
  }
  img {
    width: 30%;
    min-width: 250px;
    max-width: 400px;
  }
}

// Cards
// Mixin

@mixin myBox($backColor, $color) {
  background-color: $backColor;
  color: $color;
  width: 25%;
  height: 15rem;
  border: $myBorder;
  border-radius: 5px;
}

.cards {
  display: flex;
  gap: 0.5rem;
  padding: 1rem;
  .card1 {
    @include myBox(yellow, red);
  }
  .card2 {
    @include myBox(blue, white);
  }
  .card3 {
    @include myBox(green, yellow);
  }
  .card4 {
    @include myBox(magenta, orange);
  }
}

// Articles
// Extend

.articles {
  display: flex;
  padding: 1rem;
  gap: 1rem;
  .article1 {
    background-color: grey;
    width: 50%;
    height: 10rem;
    border-radius: 5px;
    border: 1px solid black;
  }
  .article2 {
    @extend .article1;
    background-color: hotpink;
    border-color: green;
  }
}

// Footer

footer {
  $dark: 2;
  p {
    @if $dark ==1 {
      background-color: grey;
    } @else if $dark == 2 {
      background-color: lightgray;
    } @else {
      background-color: orangered;
    }
  }
  .social-icons {
    display: flex;
    height: 10rem;
    $textColor: #990000, #55004e, #0fa8a1, #121456, #64c217;
    @for $i from 1 through 5 {
      .social#{$i} {
        width: 20%;
        background-color: lighten(blue, $i * 5);
        font-size: $i * 1rem;
        color: nth($textColor, $i);
      }
    }
  }
}
