@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    -45deg,
    #003547,
    #c2bb00,
    #e1523d,
    #ed8b16,
    #005e54
  );
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
  height: 100vh;
}

.header {
  text-align: center;
  font-family: "Amatic SC", cursive;
  font-size: 3rem;
  color: azure;
  padding-top: 3rem;
}

.app {
  display: grid;
  place-content: center;
  margin: 1rem auto 1rem;
}

.main {
  padding: 1rem;
  max-width: 100%;
}

.card {
  background-color: rgba(252, 251, 251, 0);
  border-radius: 10px;
  padding: 2rem;
  margin: 1rem;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  color: aliceblue;
}

h5 {
  font-size: 1.6rem;
  font-family: serif;
  color: darkred;
}

.ques {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.ques-answer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

button {
  border-radius: 50%;
  background: rgba(252, 251, 251, 0.5);
  height: 2rem;
  width: 2rem;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 2rem;
}

p {
  margin-top: 3px;
  text-align: justify;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Pathway Gothic One", sans-serif;
  text-indent: 1.25rem;
}

.card-group {
  width: 40vw;
}

@media only screen and (max-width: 1500px) {
  .card-group {
    width: 60vw;
  }

  h5 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 2.8rem;
  }
}

@media only screen and (max-width: 1000px) {
  .card-group {
    width: 80vw;
  }

  h5 {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 2.4rem;
  }

  p {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 600px) {
  .card-group {
    width: 90vw;
  }

  h5 {
    font-size: 1.2rem;
  }

  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1.1rem;
  }
}
