* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(img/background_image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  font-size: 30px;
  width: 100%;
}

#container {
  width: 95%;
  background-color: rgb(21, 18, 18, 0.4);
  margin: 2% auto;
}

h1 {
  font-weight: bold;
  font-size: 60px;
  text-transform: uppercase;
}

.span-2 {
  font-weight: bold;
  font-size: 60px;
  text-transform: uppercase;
  color: red;
}

form {
  margin: 20px auto;
  padding: 40px;
  width: 40%;
  height: 90%;
  background-color: rgb(0, 0, 0, 0.6);
  text-align: left;
}

label {
  display: inline-block;
  text-align: left;
  font-size: 20px;
}

.inputs {
  width: 100%;
  height: 40px;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 3px;
  border: none;
}

.inputs:focus:invalid {
  border-bottom: 3px solid red;
}

.inputs:focus {
  outline: none;
}

select {
  width: 90%;
  height: 30px;
  margin-bottom: 5px;
  border-radius: 3px;
  border: none;
}

.movie {
  margin-top: 5px;
  font-size: 18px;
}

.movie-checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
}

.movie input {
  width: 2%;
  margin: 0;
}

.movie label {
  font-size: 15px;
}

.gender {
  margin-top: 20px;
  font-size: 18px;
}

.gender-checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
}

.gender-checkbox:nth-child(4) {
  margin-bottom: 5px;
}

.gender input {
  width: 2%;
  padding: 0;
  margin: 0;
}

.gender label {
  font-size: 15px;
}

button {
  display: inline-block;
  width: 100px;
  height: 35px;
  border-radius: 50px;
  background-color: red;
  color: white;
  border: none;
  margin-top: 15px;
  transition: all 0.4s;
}

button:hover {
  cursor: pointer;
  background-color: wheat;
  color: red;
  transform: scale(1.2);
  font-weight: bold;
}

textarea {
  width: 90%;
  height: 10vh;
  resize: none;
}

textarea:focus {
  outline: none;
}

#submit {
  text-align: center;
}

@media (max-width: 1200px) {
  body {
    font-size: 25px;
  }
}

@media (max-width: 768px) {
  form {
    width: 60%;
  }
  body {
    font-size: 100%;
  }
}

@media (max-width: 520px) {
  form {
    width: 80%;
  }
  body {
    font-size: 90%;
  }
  select {
    height: 25px;
  }
  .inputs {
    height: 25px;
  }
}
