* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 600px;
  margin: 3% auto;
  background-color: antiquewhite;
}

h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

p {
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}

label {
  display: inline-block;
  margin-bottom: 5px;
}

select {
  width: 200px;
  height: 25px;
  margin-bottom: 25px;
}

.inp {
  width: 200px;
  height: 25px;
  outline: none;
  margin-bottom: 12px;
}

.inp:focus {
  border: 1px solid rgb(12, 235, 235);
}

textarea {
  resize: none;
  width: 200px;
  height: 50px;
  outline: none;
}

.submit {width: fit-content;
  margin: 5px auto;}

  button {width: 70px; height: 30px; }
  button:hover {cursor: pointer;}