* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
}

.bg-image {
  background-image: url(img/Img_1.png);
  background-size: cover;
  width: 100%;
  height: 100vh;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
  position: relative;
  overflow-x: hidden;
}

.ground {
  background-image: url(img/Img_02.png);
  position: absolute;
  height: 150px;
  width: 15000%;
  bottom: 0;
  left: 0;
}

.ground-2 {
  animation: left-move 100s linear infinite;
}

.switch-key,
.engine {
  position: absolute;
  width: 150px;
  height: 30px;
  cursor: pointer;
  border: none;
  transition: all 0.2s;
}

.switch-key {
  top: 25%;
  left: 15%;
  background-color: #ffec99;
}

.engine {
  top: 30%;
  left: 15%;
  background-color: #e03131;
  color: white;
}

.switch-key:hover,
.engine:hover {
  transform: translateY(-2px);
}

.switch-key:active,
.engine:active {
  transform: translate(0);
}

.car,
.car2 {
  position: absolute;
  bottom: 52px;
  left: 33%;
}

.hop {
  animation: hop-up 0.8s linear infinite;
}

.hidden {
  display: none;
}

@keyframes left-move {
  100% {
    transform: translate(-20000px);
  }
}

@keyframes hop-up {
  0% {
    transform: translateY(-2px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(2px);
  }
}
